.button {
    /*-fx-background-color: #428bca;*/
    /*-fx-border-color: #357ebd;*/
    /*-fx-color: #fff;*/
    /*-fx-moz-border-radius: 10px;*/
    /*-fx-webkit-border-radius: 10px;*/
    /*-fx-border-radius: 10px; !* future proofing *!*/
    /*-fx-khtml-border-radius: 10px; !* for old Konqueror browsers *!*/
    /*-fx-text-align: center;*/
    /*-fx-vertical-align: middle;*/
    /*-fx-border: 1px solid transparent;*/
    -fx-background-image: url("/IconFormationFangYuan.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}