[submodule "Final Project/张明超-161220168"]
	path = Final Project/张明超-161220168
	url = https://github.com/cockroach20168/java_final
[submodule "Final Project/马白家欣-161220090"]
	path = Final Project/马白家欣-161220090
	url = https://github.com/m1594730237/JavaFinalProject
[submodule "Final Project/许翔-161220153"]
	path = Final Project/许翔-161220153
	url = https://github.com/njuxx/calabash-game
[submodule "Final Project/崔子寒-161220026"]
	path = Final Project/崔子寒-161220026
	url = https://github.com/czhnju161220026/JavaFinalProject
[submodule "ljy"]
	path = Final Project/冷嘉怿-161220061
	url = https://github.com/lengjiayi/SimpleHuluGame
[submodule "Final Project/尤明辉-161220161"]
	path = Final Project/尤明辉-161220161
	url = https://github.com/YmHAHAHa/CalaBash
[submodule "Final Project/秦天-161220100"]
	path = Final Project/秦天-161220100
	url = https://github.com/Qcer17/JavaFinal
[submodule "Final Project/侍林天-161220108"]
	path = Final Project/侍林天-161220108
	url = https://github.com/LintianShi/homework
