[submodule "Final Project/许翔-161220153"]
	path = Final Project/许翔-161220153
	url = https://github.com/njuxx/calabash-game
[submodule "Final Project/崔子寒-161220026"]
	path = Final Project/崔子寒-161220026
	url = https://github.com/czhnju161220026/JavaFinalProject